ul.menu li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 20px;

}
ul.menu {
 
  padding: 27px;
  border-top: #F2F2F2 solid 2px;
  border-bottom: #F2F2F2 solid 2px;
  
}
ul.menu li a {
  
  color:#333333;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  padding-bottom:3px;
  display: inline-block;
}
ul.menu li .active {
  
  border-bottom: 2px solid #333333;
  color: #333333;
}

.content {
  background-color: white;
  padding: 20px;
}
body {
  background-color: #FFFFFF;
  padding: 20px;
  margin: 0;
}